@using HealthSched.Models.DTOs.PoliclinicDTOs

@model CreatePoliclinicDTO


<div style="align-items:center" class="card">

    <div class="card-body">

        <form asp-action="Create" method="post">
            <div style="justify-content:center" class="mb-3">
                <label asp-for="PoliclinicName" class="form-label">Title Adı</label>
                <input asp-for="PoliclinicName" class="form-control">
                <div class="text-danger"> <span asp-validation-for="PoliclinicName"></span> </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive.min.js"></script>

}